*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:var(--bg-body);
    height:100vh;
}
:root{
--premium: linear-gradient(135deg, #FFD700, #FFC107);
    
    /* Background */

    --bg-body: #2F3136;
    --bg-section: #383A40;
    --bg-card: #44474F;
    --bg-header: #4A4D55;

    /* Primary */

    --primary: #0D47A1;
    --primary-hover: #1565C0;
    --primary-light: #3F7DFF;

    /* Secondary */

    --secondary: #9CA3AF;
    --secondary-light: #D1D5DB;

    /* Text */

    --text: #FFFFFF;
    --text-secondary: #C9CDD4;
    --text-muted: #9AA0A6;

    /* Border */

    --border: #5C6068;

    /* Shadow */

    --shadow:
    0 10px 30px rgba(0,0,0,.35);

    /* Radius */

    --radius:15px;

    /* Transition */

    --transition:.3s ease;

}


.chat-box{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
   background:
linear-gradient(rgba(55,55,55,0.105), rgba(55,55,55,0.105)),
linear-gradient(
    135deg,
    #04152D,
    #0D3C73,
    #D8DDE3
);
}

.header{
    height:65px;
    display:flex;
   background: linear-gradient(
    135deg,
    #0A2342 0%,
    #1E4E8C 30%,
    #6B7F94 70%,
    #F2F5F8 100%
); 

}

.header img{
    width: 60px;
    height: 60px;
}

.chat{
    flex:1;
    overflow-y:auto;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:15px;
  padding-bottom:100px;
    overflow-y:auto;
}
.versiAI {
  display:block;
  width:100%;
  height: 50%;
  text-align: center;
}
.versiAI img {
  width: 150px;
  height: 150px;
}
.versiAI-tittle h1 {
  

    background: linear-gradient(
        90deg,
        #1D4ED8,
        #60A5FA,
        #F1F5F9,
        #3B82F6,
        #1D4ED8
    );

    background-size:300% 300%;

    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

    animation:gradientMove 5s linear infinite;
font-size:1rem;
  margin-top:-10%;
}

@keyframes gradientMove{

    0%{
        background-position:0% 50%;
    }

    100%{
        background-position:100% 50%;
    }

}
.user{
    align-self:flex-end;
    background:var(--bg-header);
    color:#fff;
    padding:12px 16px;
    border-radius:18px 18px 4px 18px;
    max-width:75%;
    word-wrap:break-word;
}

.bot{
    align-self:flex-start;
    background:var(--secondary);
    color:white;
    padding:12px 16px;
    border-radius:18px 18px 18px 4px;
    max-width:75%;
    word-wrap:break-word;
}

.input-area{
  position:fixed;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    gap:10px;
  
    padding:15px;
    border-top:1px solid #ddd;
    background: linear-gradient(
    135deg,
    #0A2342 0%,
    #1E4E8C 30%,
    #6B7F94 70%,
    #F2F5F8 100%
);
    z-index: 9999;
}

.input-area input{
    flex:1;
    height:48px;
    padding:0 15px;
    background:var(--secondary);
    
    border-radius:25px;
    font-size:15px;
}

.input-area button{
    width:48px;
    height:48px;
    border:none;
    border-radius:50%;
    background:var(--secondary);
    color:#fff;
    font-size:18px;
    cursor:pointer;
}
#popupLogin{

    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.45);

    z-index:99999;

}

.popup-box{

    width:90%;
    max-width:350px;

    background: linear-gradient(
    135deg,
    #0A2342 0%,
    #1E4E8C 30%,
    #6B7F94 70%,
    #F2F5F8 100%
);

    border-radius:16px;

    padding:25px;

    text-align:center;
    margin-top: 12%;

}

.popup-box h2{

    margin-bottom:15px;

}

.popup-box p{

    line-height:1.7;

    margin-bottom:20px;

}

#btnMasuk{

    width:100%;

    height:48px;

    border:none;

    border-radius:10px;

    cursor:pointer;

}